body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: green;
  font-family: 'Courier New', monospace;
}

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}


.input-line {
  display: flex;
}

.input {
  background: none;
  border: none;
  color: green;
  outline: none;
}

.prompt {
  margin-right: 5px;
}

.command-link {
    color: green;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.command-link:hover {
    text-decoration: underline;
}